
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Play&display=swap');

:root {
    --dark-violet:  hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --font1: 'Karla', sans-serif;
    --font2: 'DM Serif Display', serif;

    --padding-container: 80px 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font1);
}

.hero{
    background-color: var(--dark-violet);
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: var(--padding-container);

}


.nav {
    background-color: #fff;
    --padding-container: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav__links {
    display: none;
}

/* Problema risolto dei bordi immagine */
/* .nav * {
    outline: 1px solid red;
} */

/* problema dei bordi immagine si risolve mettendo gli elementi interessati img in display: block */

.nav__icon, .nav__img {
    display: block;
}

.hero__main {
    width: 100%;
    --padding-container: 0;
}

.hero__main::before {
    content: "";
    display: block;
    background-image: url(images/image-intro-mobile.jpg);
    height: 370px;
    background-size: cover;
    background-position: center;
}


.hero__texts {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    height: 450px;

}

.title {
    font-size: 2.5rem;
    font-family: var(--font2);
    letter-spacing: 3px;
}

.hero__paragraph {
    line-height: 1.5;
    margin-top: 1em;
}

.cta {
    margin-top: 1.5em;
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    padding: .8em 2em;
    display: inline-block;
    text-transform: uppercase;
}

.different {
    text-align: center;
    
}

.title__different {
    position: relative;
    padding-top: 10px;
}

.title__different::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30%;
    height: 2px;
    background-color: var(--dark-grayish-violet);
}

.different__items {
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 3.5em;
}

/* .different * {
    outline: 1px solid red;
} */

.different__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.different__title {
    font-size: 1.5rem;
    font-family: var(--font2);
    letter-spacing: 2px;
}

.different__paragraph {
    color: var(--dark-grayish-violet);
    line-height: 1.5;
    margin-top: 1em;
}


.find {
    padding: 80px 0;
    --padding-container: 50px 40px;
    
}

.find__container {
    background-color: var(--dark-violet);
    color: #fff;
    position: relative;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    
    
}


.find__container::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    background-size: cover;
    background-position: left;
}




.footer {
    background-color: var(--very-light-gray);
}

.footer__brand {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid var(--dark-grayish-violet);
    margin-bottom: 2.5em;
}

.footer__contact {
    display: flex;
    align-items: center;
    gap: 1em;
}

.footer__navigation {
    display: flex;
    gap: 3.5em;
    flex-direction: column;
    align-items: center;
}

.footer__nav {
    display: flex;
    gap: 1em;
    flex-direction: column;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    color: var(--dark-violet);
    font-weight: 700;
    text-transform: uppercase;
}


.footer__link--first {
    color: var(--dark-grayish-violet);
    margin-bottom: 1em;
}


@media (min-width: 768px) {
 

    .nav__links {
        display: flex;
        gap: 2em;
        align-items: center;
    }

    .nav__hamburger {
        display: none;
    }

    .nav__link {
        text-decoration: none;
        color: var(--dark-grayish-violet);
    }

    .nav__link--cta {
        border: 1px solid;
        color: var(--dark-violet);
        padding: .8em 2em;
    }

    .hero {
        background-image: linear-gradient(to bottom,
        var(--dark-violet) 80%, #fff 80%);
    }

    .hero__main {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        --padding-container: 100px 0;
    }
    
    .hero__main::before {
        width: 48%;
        background-image: url(images/image-intro-desktop.jpg);
        height: 500px;
        order: 1;
        
    }


     
    .hero__texts {
        position: relative;
        color: #fff;
        width: 50%;
        margin: 0;
        padding: 20px 0;
        text-align: left;
    }


    .hero__texts::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 2px;
        top: 0;
        left: 0;
        background-color: var(--very-light-gray);

    }


    
    .title {
        font-size: 3rem;
    }
    
    .different {
        text-align: left;
    }
    
    .title__different::before {
        margin: 0;
    
    }

    .different__items {
        margin-top: 3em;
        flex-direction: row;
        gap: 2em;
        justify-content: space-between;
        align-items: center;
    }

    .different__item {
        flex: 1;
    }

    .different__icon {
        margin-left: 0 ;
    }
    
    .find__container {
        position: relative;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
      
      
    }
    
    .find__container::before {
        content: "";
        position: absolute;
        width: 40%;
        height: 100%;
        top: 0;
        right: 0;
        background-image: url(images/bg-pattern-how-we-work-desktop.svg);
        background-size: cover;
        background-position: left;
    }


    .title--find {
        width: 60%;
    }


    
    .footer__brand {
        flex-direction: row;
        justify-content: space-between;
        
    }
  
    
    .footer__navigation {
        gap: 1.5em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .footer__nav {
        width: 23%;
        align-items: flex-start;
    }
    
    
}